
/* ========GAME SCREEN========= */
.flex-container {
    padding: 0;
    margin: auto;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 38%;
    background-color: white;
  
  }
  
  * .flex-item {
    width: 100px;
    height: 150px;
    margin-top: 10px;
    
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
      overflow: hidden;
    
  } 
/* ===========CARDS=========== */
  .img{
    width: 100%;
    float: right;
    
           
}



.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face--front {
  background: rgb(255, 240, 172);
}
.card__face {
  position: absolute;
  width: 100%; 
  height: 100%;
  line-height: 260px;
  backface-visibility: hidden;
}



.card__face--back {
 background: royalblue;
  transform: rotateY(180deg);
}

/* =========START SCREEN======== */
  .start-game-page{
    height: 300px;
    background-color:white;
    margin: auto;
    /* position: absolute;
    left: 130px;
    right: 130px;
    
    z-index: -1; */
  }
  .start-game-page h1 {
    padding-top: 100px;
    text-align: center;
    color: black;
  }
  body {
    text-align: center;
    direction: rtl;
    color: white;
    font-size: 1.1em;
   font-family: 'Varela Round', sans-serif;
  }

  

  