/* ========GAME SCREEN========= */
.flex-container {
  padding: 0;
  margin: auto;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-evenly;

  width: 38%;
  background-color: white;

}

* .flex-item {
  width: 100px;
  height: 150px;
  margin-top: 10px;
  
} 
/* ===========CARDS=========== */
.img{
  width: 100%;
  float: right;       
}

.side {
position: absolute;
width: 100%; 
height: 100%;
line-height: 260px;
backface-visibility: hidden;
}
body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  
}

.state-0:active {
  transform: rotateY(180deg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.state-2{
  visibility: hidden;
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrexhKq00B5ZpoCt_uBVr5PMPPsn-HPAKS_i2bN2VYr6fypeYU");
    
}
.card .front {
  background: #fff9aa;
  transform: rotateY(180deg);
}
/* =========START SCREEN======== */
.start-game-page{
  height: 300px;
  background-color:white;
  margin: auto;
  /* position: absolute;
  left: 130px;
  right: 130px;
  
  z-index: -1; */
}
.start-game-page h1 {
  padding-top: 100px;
  text-align: center;
  color: black;
}
body {
  text-align: center;
  direction: rtl;
  color: white;
  font-size: 1.1em;
 font-family: 'Varela Round', sans-serif;
}


